<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersionMajor</key>
	<integer>2</integer>
	<key>FormatVersionMinor</key>
	<integer>1</integer>
	<key>SupportedDevices</key>
	<array>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0010</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0011</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0012</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0013</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0016</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0017</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x001C</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x001D</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0026</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0030</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0044</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
		<dict>
  		<key>VID</key>
  		<integer>0x2752</integer>
  		<key>PID</key>
  		<integer>0x0045</integer>
  		<key>Firmware</key>
  			<dict>
    			<key>IsAvailable</key>
    			<true/>
  			</dict>
		</dict>
	</array>
	<key>CheckFirmwareVersion</key>
	<string>No</string>
	<key>DisplayFirmwareFile</key>
	<true/>
	<key>AllowToAbortUpgrade</key>
	<false/>
	<key>AllowLanguageSelection</key>
	<false/>
	<key>RepeatOnError</key>
	<false/>
</dict>
</plist>
